name: Compile the .tex to PDF Fuck yeah

on: [push]
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      -uses: actions/checkout@v5
      -uses: hspaans/latexmk-action@v2.1.0
      -with:
         filename: ./texfile/main.tex
      -run: |
         mv main.pdf ./texfile/main.pdf
