name: CI

on: [push, pull_request]

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
      -name: checkout repo
       uses: actions/checkout@v5

      -name: Generate PDF
       uses: hspaans/latexmk-action@v2.1.0
       with:
         format: pdf
         filename: main.tex
         path: texfile/main.tex
         options: -shell-escape

      -name: Upload PDF artifact
       uses: actions/upload-artifact@v4
       with:
         name: main.pdf
         path: texfile/main.pdf
